#menu {
	display: flex;
   
    
}
#menu a {
    padding: 20px 40px;
	font: 20px Arial;
	text-decoration: none;
	color: white;
	border: 1px solid #55CF85;
	background-color: #55CF85;
}
#menu a:hover, #menu a.active {
	color: white;
	border: 1px solid #187A3F;
	background-color: #187A3F;
}